

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/Content/ExternalStyle/about.css" rel="stylesheet" /> 

 
</head>
<body>
    <header>
        <div class="heading">
        <img class="logo" src="~/Content/images/logo.png" />

            <h4>Job Portal</h4>
            <div class="items">
                <a href="/Home/Index">Home</a>
                <a href="Login.html">Sign in</a>
                <a href="/Authentication/User_Registraion">Sign up</a>
            </div>
        </div>

    </header>

    <section>
        <div class="box">
            <h3>Mission</h3>
            <p>Welcome to Travel Guide! </p>
            <p>Our mission is to help travelers like you</p>
            <p>discover new destinations and have unforgettable experiences around the world.</p>
            <h3>Vision</h3>
            <p>Our vision is to connect travelers with the world</p>
            <p>providing them with the tools and resources they need to create</p>
            <p>unforgettable experiences, discover new cultures, and make lasting memories</p>

            <br>
            <br>



            <p>Thank you for choosing Travel Guide. We're excited to be a part of your journey!</p>


        </div>
        <div class="container">

        </div>
    </section>

    <footer>
        <p>
            Copyright 1999-2023 -All Rights Reserved.
            Job Portal is Powered by Jobs 
        </p>
    </footer>

</body>
</html>