
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #554cd6b5;
    padding: 4px;
    color: white;
}

footer {
    background-color: #2c2b2abb;
    padding: 10px;
    text-align: center;
    color: white;
}

.box {
    height: 500px;
    width: 40%;
    background-color: rgba(24, 24, 234, 0.29);
    margin-top: 30px;
    margin-left: 10%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: fixed;
}

    .box h3 {
        font-size: 25px;
        color: #281af2;
    }

.logo {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    margin-bottom: -20px;
    display: inline-block;
}

.heading h4 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.items {
    display: inline-block;
    margin-left: 600px;
}

    .items a {
        margin-left: 30px;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }





.container {
    margin-bottom: 2px;
    height: 500px;
    width: 40%;
    margin-top: 25px;
    display: inline-block;
    animation: slider 15s infinite linear;
    background-size: 100% 100%;
    margin-left: 51%;
    margin-top: 35px;
}
@keyframes slider {
    0% {
        background-image: url('../images/aa.jpg');
        background-size: 100% 100%;
    }

    20% {
        background-image: url('../images/ab.jpg');
        background-size: 100% 100%;
    }

    40% {
        background-image: url('../images/slide.png');
        background-size: 100% 100%;
    }

    60% {
        background-image: url('../images/ab.jpg');
        background-size: 100% 100%;
    }

    80% {
        background-image: url('../images/aa.jpg');
        background-size: 100% 100%;
    }

    100% {
        background-image: url('../images/slide.png');
        background-size: 100% 100%;
    }
}